version: "3.8"
services:
  api:
    build: 
      context: ../docker  # ← Point to docker folder
      dockerfile: Dockerfile
    container_name: heart-api
    ports:
      - "8080:5001"
    volumes:
      - ../models:/app/models  # ← Mount models
      - ../app:/app            # ← Mount app code
      - ../docker:/app 

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
