apiVersion: v1
kind: Service
metadata:
  name: grafana-service
spec:
  type: LoadBalancer   # or NodePort if local cluster
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000